/* Основной стиль страницы */
body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}

/* Контейнер с элементами */
.container {
    background-color: floralwhite; 
    padding: 30px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стиль для заголовка */
h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

/* Стиль для поля ввода */
.input-container {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стиль для кнопок */
.operation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Кнопки: Внести и Снять */
.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

/* Стиль для кнопок при наведении */
button:hover {
    opacity: 0.8;
}

